.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #ffffff;
}
.login {
    width: 100%;
    max-width: 330px;
    text-align: center;

}
.button{
    height: 50px;
}
.spinner{
    margin: 0  auto;
}

.color{
    background-color: #1998d2;
    color: white;
    font-size: 20px;
    height: 80px;
}
.color2{
    background-color: #1998d2;

}

.text{
    margin-left: 10px;
}