

    <mat-toolbar class= "color">
        <img class="slogan" src=  "./assets/img/Registro.png" width="100" height="70">
        <span class="text">Expediente Digital de Control Médico</span>
        <span class="example-spacer"></span>

    
     
  </mat-toolbar>

<div class="body">
    <div class="login">
        <mat-spinner  *ngIf= "loading" class="spinner" diameter="50"></mat-spinner>
<form  *ngIf= "!loading" [formGroup]= "form" (ngSubmit)= "ingresar()">

    <img src= "./assets/img/paciente.jpg" width="50%">
    <h1>Login</h1>
    <mat-form-field class="ancho" appearance="fill">
    <mat-label >Usuario</mat-label>
    <input type="text" matInput autocomplete="off" formControlName="usuario">
    </mat-form-field>
    <mat-form-field  class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="password"> 
        </mat-form-field>
        <br>

        <button  class="ancho button" mat-raised-button class="color2" [disabled]="form.invalid">Ingresar</button>
    </form>
    </div>
</div>
